<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>Sign in/Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="@gmail" value="" [(ngModel)]="email">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password" [(ngModel)]="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <button class="mat-button" (click)="login()" mat-button color="Skyan">Login</button>
        </mat-tab>
        <mat-tab label="Register">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="@gmail" value="">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>confirm Password</mat-label>
            <input type="password" matInput placeholder="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <button class="mat-button" (click)="register()" mat-button color="Skyan">Register</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
